<h1>Books</h1>
<div *ngFor="let book of books$ | async">
    <h2>{{book.title}}</h2>
    <h3>{{book.author}}</h3>
    <button (click)="removeBook(book.id)">Remove Book</button>
</div>


<h2>Create a new book</h2>

<div>
    <form [formGroup]="addbookForm" (ngSubmit)="addBook()">
        <div class="row mb-3">
            <div class="col">
                <label class="form-label">Check-In Date:</label>
                <input type="text" placeholder="Book Id" class="form-control" formControlName="bookId">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label class="form-label">Book Title:</label>
                <input type="text" placeholder="Book Title" class="form-control" formControlName="bookTitle">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label class="form-label">Author:</label>
                <input type="text" placeholder="Author" class="form-control" formControlName="bookAuthor">
            </div>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="addbookForm.invalid">Add Book</button>
    </form>
</div>